# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml


# Home Assistant configuration
config/*
!config/configuration.yaml
API.ipynb
.github/.DS_Store
.DS_Store
notebooks/test_python.ipynb
